body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.grey_maker{
    color: darkslategray;
}
.flex_container{
    display: flex;
    margin-bottom: 130px;
}
.Halfwidth {
    width: 50%;
    padding-left: 15%;
}
.Halfwidth img{
    margin-top: 5px;
    width: 60%;
}
.LinkButton{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: floralwhite;
    font-weight: 700;
    padding: 7px 30px;
    border-radius: 5px;
}
.TopBanner{
      background-image: url(images/top-banner.png);
      background-repeat: no-repeat;
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box{
    width: 40%;
    margin: 5% 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 20px black;
    
}
.Experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#boxes1{
    border-left: 7px solid ;
    border-image: linear-gradient(red, blue) 40%;
}
#boxes2{
    border-left: 7px solid ;
    border-image: linear-gradient(salmon, blue) 40%;
}

footer p{
    text-align: center;
}